:root{
  --color-primary: #0b4572;
  --color-primary-contrast: #e4e4e4;
  --color-danger: #72170b;
}

.App {
  text-align: center;
}

.App button {
  width: 95%;
  padding: 8px;
  margin: 8px;
  color: var(--color-primary-contrast, white);
  background: var(--color-primary, blue);
  border: unset;
  border-radius: 3px;
  font-size: 12px;
}

.App button:active {
  transform: scale(0.98);
}

.App button:hover {
  filter: brightness(1.2);
}